@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

@font-face {
    font-family: pokeman;
    src: url('./fonts/PokemonSolid.ttf')
}

body {
    background-image: url(https://www.pngitem.com/pimgs/m/515-5152710_transparent-pikachu-fat-grandmas-house-meme-hd-png.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}

.wrapper {
    min-height: 97vh;
    width: 600px;
    margin: 0 auto;
    position: relative;
    background-color: rgba(218, 235, 255, 0.801);
    padding: 20px 30px 5px 30px;
    border-left: 7px solid #385ba8b6;
    border-right: 7px solid #385ba8b6;
}

body img {
    width: 540px;
}

.pokemon-wrapper {
    background-color: rgb(255, 236, 172);
    margin: 0;
    min-height: 80px;
    border: 4px solid rgb(250, 204, 51);
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 20px 0;
    border-radius: 15px;
    transition: 0.2s;

    animation: slide 1s ease;
}

.pokemon-wrapper:hover {
    transform: translateX(-3px);
    cursor: pointer;
    background-color: rgb(255, 229, 143);
}

.name {
    font-family: 'pokeman', cursive;
    font-size: 45px;
    color: rgb(250, 204, 51);
    font-weight: 500;
    pointer-events: none;
    letter-spacing: 8px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #385CA8;
}


.pokemonSpecifics {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    width: 80%;
    border-top: 4px solid rgb(255, 187, 99);
    animation: slide 0.5s ease;
    pointer-events: none;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-away {
    animation: slide-away 0.5s;
}

@keyframes slide-away {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        transform: translateY(-10px)
    }
}

.expand {
    animation: expand 0.5s ease;
}

@keyframes expand {
    0% {
        height: 123px;
    }

    100% {
        height: 600px;
    }
}

.expand-away {
    animation: expand-away 0.5s ease;
}

@keyframes expand-away {
    0% {
        height: 600px;
    }
    
    100% {
        height: 123px;
    }
}

.img-wrapper {
    width: 50%;
    background-color: #fff;
    border-radius: 30%;
    margin: 30px;
    border: 3px solid #385CA8;
}

.pokemonImg {
    width: 100%;
}

.abilities {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 5px;
}

.ability1, .ability2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 300px;
}

.ability1 {
    margin-bottom: 10px;
}

.abilityTitle1, .abilityTitle2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    padding-right: 10px;
}

.abilityName1, .abilityName2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

.location-wrapper-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.locationTitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin: 0;
    padding-right: 10px;
}

.location-style {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 5px 0;
    border: 3px solid #385CA8;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    min-width: 220px;
    text-align: center;
    white-space: nowrap;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons p {
    width: 250px;
    text-align: center;
    font-family: 'pokeman', cursive;
    font-size: 30px;
    letter-spacing: 5px;
    color: rgb(250, 204, 51);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #385CA8;
    background-color: rgb(255, 236, 172);
    padding: 5px 10px;
    border-radius: 10px;
    border: 3px solid rgb(250, 204, 51);
    transition: 0.2s;
    margin-top: 10px;
}

.buttons p:hover {
    background-color: rgb(255, 229, 143);
    cursor: pointer;
}

.search-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 132px;
    background-color: rgb(218, 235, 255);
    border-top: 7px solid #385ba8b6;
    border-left: 7px solid #385ba8b6;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}

.search-wrapper label {
    font-family: 'pokeman', cursive;
    font-size: 30px;
    color: rgb(250, 204, 51);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #385CA8;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type = search] {
    width: 300px;
    height: 40px;
    padding: 5px;
    padding-left: 10px;
    background-color: rgb(255, 236, 172);
    border: 3px solid rgb(250, 204, 51);
    border-radius: 8px;

    font-family: 'pokeman', cursive;
    font-size: 18px;
    color: rgb(250, 204, 51);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #385CA8;
    letter-spacing: 2px;
}

.spinner {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    background: linear-gradient(red 43%, black 43%, black 52%, white 52%);
    border: 5px solid black;
    border-radius: 50%;
    animation: spin linear 2s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(calc(360 * 0.1)deg);
    }
    20% {
        transform: rotate(calc(360 * 0.2)deg);
    }
    30% {
        transform: rotate(calc(360 * 0.3)deg);
    }
    40% {
        transform: rotate(calc(360 * 0.4)deg);
    }
    50% {
        transform: rotate(calc(360 * 0.5)deg);
    }
    60% {
        transform: rotate(calc(360 * 0.6)deg);
    }
    70% {
        transform: rotate(calc(360 * 0.7)deg);
    }
    80% {
        transform: rotate(calc(360 * 0.8)deg);
    }
    90% {
        transform: rotate(calc(360 * 0.9)deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 5px solid black;
    background-color: white;
    border-radius: 50%;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    box-sizing: border-box;
}

.spinner::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    border: 3px solid black;
    background-color: white;
    z-index: 4;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

.music {
    width: 350px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(218, 235, 255);
    border-top: 7px solid #385ba8b6;
    border-right: 7px solid #385ba8b6;

    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}



.progressText {
    position: fixed;
    right: 180px;
    bottom: calc(50% - 58px);
    width: 170px;
    font-size: 30px;
    background-color: rgb(218, 235, 255);
    border: 7px solid #385ba8b6;
    padding: 30px 20px;
    box-sizing: border-box;
    z-index: 2;

    text-align: center;
    font-family: 'pokeman', cursive;
    font-size: 30px;
    color: rgb(250, 204, 51);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #385CA8;
    letter-spacing: 3px;
}
